.container-padding {
    padding-left: 25px;
}

.filter-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.right-align {
    text-align: right;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.in-stock {
    color: #3a8927;
}

.right {
    float: right;
}

.top-padding {
    padding-top: 4px;
}

.dropdown-padding {
    padding-top: 20px;
}

.button {
    padding-top: 30px;
}

.radio-padding {
    padding-top: 35px;
}

.bottom-push {
    bottom: 0;
}

.buttongroup {
    padding-bottom: 5px;
}

.center-align {
    text-align: center;
    padding-top: 50px;
}